artifacts
forge-artifacts
cache
typechain
coverage.out
.deps
broadcast
genesis.json
src/contract-artifacts.ts
tmp-artifacts
deployments/mainnet-forked
deploy-config/mainnet-forked.json
test-case-generator/fuzz
.resource-metering.csv
scripts/differential-testing/differential-testing
tsconfig.build.tsbuildinfo
node_modules



.DS_Store
results
temp
.nyc_output
coverage.json
*.tsbuildinfo
**/lcov.info

yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

dist
artifacts
cache

l2geth/build/bin
deployments/custom
deployments/getting-started
coverage*
@ens*
@openzeppelin*

# vim
*.sw*

# jetbrains
.idea/

.env
.env*
!.env.example
*.log

.devnet
.patex-sepolia
# Ignore local fuzzing results
**/testdata/fuzz/

coverage.out

# Ignore bedrock go bindings local output files
pt-bindings/bin


__pycache__

# Ignore echidna artifacts
crytic-export
